// --------- ------ [ Main LESS ] -------- ----------
@import "modal.less";
@import "alert.less";
@import "mixins.less";
@import url('https://fonts.googleapis.com/css?family=Roboto');
// variables
@font-roboto: 'Roboto', sans-serif;
@height-panel-container: 500px;
@height-new-note: 50px;
@height-footer: 100px;
@paddin-container: 4px;
@icon-list: add, accept, cancel, delete, edit;

// screen sizes
@screen-680: ~"only screen and (max-width : 680px)";

// Grid system
.grid-container {
    width: 100%;
    //max-width: 1200px;
    box-sizing: border-box;
  }
  
.row::before,
.row::after {
  content: "";
  display: table;
  clear: both;
}
  
.create-columns(6); 

[class*= 'col-'] {
    @media @screen-680 {
        width: 100%;
    }
}
// end grid system

@rule: {height: 45px; width: 45px;}; 
.create-img-class({.container-square(40px);}, @icon-list);

body { 
    font-family: @font-roboto;
    .bk-degree(#E6E6E6,#9B9B9B);
    padding-bottom: @height-footer + 40; 
    position: relative;   
    
}

.container-button {
    width: 100%;
    height: 40px;
    margin-top: 10px;
    position: relative;
}

.panel-work- {
    &notes {
        background-color: palevioletred;
        height: @height-panel-container;
        overflow: hidden;
    }
    
    &note-details {
        background-color: #e8e8e8;
        height: @height-panel-container;

        @media @screen-680 {
            display: none;
        }

        .panel-tools-details {
            background-color: #969696;
            box-sizing: border-box;
            .centered-vertical(@height-new-note);
            height: @height-new-note;
            padding: 4px 8px;

            h3{
                display: inline-block;
                font-size: 30px;
                margin: 0;
            }
        }

        .form-details {            
            //background-color: tomato;
            margin: auto;
            overflow: hidden;
            padding: @paddin-container 0px;
            width: 90%;

            & input:not([id*=date_]), & textarea {                
                box-sizing: border-box;
                width: 100%;              
            }
        }
    }

    &new-note {
        background-color: #837ca2;
        box-sizing: border-box;
        color: #E3E3E3;
        .centered-vertical(@height-new-note);
        height: @height-new-note;
        padding: 4px 8px;

        h3{
            display: inline-block;
            font-size: 30px;
            margin: 0;
        }
    }

    &list-note {
        background-color: #696969;
        box-sizing: border-box;
        height: (@height-panel-container - @height-new-note);
        overflow-y: scroll;
        padding: 4px 8px;

        .card-note {                      
            background-color: whitesmoke;
            box-sizing: border-box;
            cursor: pointer;
            height: 100px;
            margin-bottom: 4px;
            //padding: 4px;
            //position: relative;
            transition: 0.2s;
            width: 100%;

            &:hover {
                background-color: burlywood;
            }
            
            .content {
                position: relative;
                height: 100%;
                box-sizing: border-box;
                overflow: hidden;
                padding: 4px;

                &> * { //all element into .card-note
                    margin: 0;
                }
    
                .date {
                    position: absolute;
                    right: @paddin-container;
                    bottom: @paddin-container;
                }
            }            
        }
    }
}

.form-new-note {

    &> * {
        width: 100%;
        box-sizing: border-box;
    }
}

.tools-info-bar {
    @h: 25px; // height
    height: @h;
    background-color: #837ca2;
    .centered-vertical(@h);
    padding: 4px 8px;

    &> * {margin: 0};
}

.is_done() {
    width: 20px;
    height: 100%;    
    float: left;
}

.is-done-true {
    .is_done();
    background-color: greenyellow;
}

.is-done-false {
    .is_done();
    background-color: tomato;
}

.float-right {
    float: right;
}

.center {
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

footer {
    @height_container: @height-footer;
    background-color: black;
    bottom: 0;
    color: whitesmoke;
    .container-size(@height_container, 100%);
    .content-center(@height_container);
    position: absolute;

    &> * {margin: 0;}
}